Repository smaranjitghose/girlscript_chennai_website, pull requests merged in 2020-05, with the labels that each got.

#617 Trends image added
  assets/Images/index/IOT1.jpg
  assets/Images/index/IoT1.png
  assets/Images/index/cloud1.jpg
  assets/Images/index/cloud1.png
  assets/Images/index/cs3.jpg
  assets/Images/index/cs3.png
  assets/Images/index/ml.jpg
  assets/Images/index/program.jpg
  assets/Images/index/robot1.jpg
  assets/Images/index/robot1.png
  css/style.css
  index.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#618 :feat: registrationForm.
  assets/Images/registration/form.png
  css/registration.css
  event1.html
  registration.html
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#616 patchfile added for pydeceive (updated bonus branch)
  additional_projects.MD
  patch-files/pydeceive/.github/bug_report_template.md
  patch-files/pydeceive/.github/feature_request_template.md
  patch-files/pydeceive/.github/pull_request_template.md
  patch-files/pydeceive/CONTRIBUTING.md
Labels: PR: unreviewed, beginner, documentation, gssoc20

#620 :feat: responsive registration page
  css/registration.css
  registration.html
Labels: PR: unreviewed, enhancement, gssoc20, hard

#621 added SEO optimization for the registration page
  registration.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#624 Enhancement of registration page (1)
  assets/Images/registration/form.jpg
  assets/Images/registration/form.png
  css/registration.css
  registration.html
Labels: enhancement, gssoc20, hard

#625 Home page setup
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/html/.buildinfo
  docs/_build/html/_images/logo_for_boilerplate.png
  docs/_build/html/_sources/home.rst.txt
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/_static/alabaster.css
  docs/_build/html/_static/classic.css
  docs/_build/html/_static/custom.css
  docs/_build/html/_static/documentation_options.js
  docs/_build/html/_static/pygments.css
  docs/_build/html/_static/searchtools.js
  docs/_build/html/_static/sidebar.js
  docs/_build/html/genindex.html
  docs/_build/html/home.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/conf.py
  docs/home.rst
  docs/index.rst
  docs/logo_for_boilerplate.png
Labels: PR: unreviewed, documentation, gssoc20, hard

#627 Enhancement of registration page (2)
  css/registration.css
  registration.html
Labels: PR: unreviewed, bug, gssoc20, hard

#629 added bottom to up using vanillaJS
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  event1.html
  index.html
  recentEvent1.html
  registration.html
  scripts/app.js
  scripts/script.js
  team.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#628 Enhancement of Registration page (3)
  css/registration.css
  registration.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#631 Vendor prefix for last 10 verisions
  css/contact-page.css
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#632 Update Bonus branch
  additional_projects.MD
  patch-files/PyQRCodeGen/0001-Create-Contributing.md.patch
  patch-files/PyQRCodeGen/IssueTemplate/0001-Create-feature_request_template.md.patch
  patch-files/PyQRCodeGen/IssueTemplate/0002-Create-bug_report_template.md.patch
  patch-files/PyQRCodeGen/IssueTemplate/0003-Create-pull_request_template.md.patch
  patch-files/incognitopy/0001-Create-Contributing.md.patch
  patch-files/incognitopy/IssueTemplate/0001-Create-bug_report_template.md.patch
  patch-files/incognitopy/IssueTemplate/0002-Create-pull_request_template.md.patch
  patch-files/incognitopy/IssueTemplate/0003-Create-feature_request_template.md-name-Feature-requ.patch
Labels: PR: unreviewed, beginner, gssoc20

#633 **sparkle effect**
  assets/particle.json
  css/style.css
  index.html
  scripts/particle-js-effect.js
  scripts/particle.js
  scripts/sparkle.js
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#634 Vendors on team page
  css/team.css
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#637 Vendor for Css on blogs page
  css/blogs.css
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#641 Prefixing on CSS for achievements page
  css/achievement.css
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#635 :feat: validate => registration form
  registration.html
  scripts/registration.js
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#643 fixes in app
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  css/style.css
  event1.html
  index.html
  recentEvent1.html
  scripts/app.js
  team.html
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#644 Our initiative modfied
  css/style.css
Labels: PR: reviewed-approved, beginner, bug, gssoc20

#647 Update achievements.html
  achievements.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#649 Sitemapping Tree addition for seo improvement
  sitemap.xml
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#648 Update achievement.css
  css/achievement.css
Labels: PR: reviewed-approved, beginner, bug, gssoc20

#653 Update achievement.css
  css/achievement.css
Labels: PR: reviewed-approved, beginner, bug, gssoc20

#654 Vendors announcements
  css/announcements.css
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#656 Update blogs.html
  blogs.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#657 Update blogs.css
  css/blogs.css
Labels: PR: reviewed-approved, beginner, bug, gssoc20

#660 header fix
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  css/style.css
  event1.html
  index.html
  recentEvent1.html
  registration.html
Labels: PR: reviewed-approved, bug, easy, gssoc20

#642 Home Page documentation
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/aboutus.JPG
  docs/_build/html/_images/carousel.JPG
  docs/_build/html/_images/parallax.JPG
  docs/_build/html/_sources/contactus.rst.txt
  docs/_build/html/_sources/home.rst.txt
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/announcement.html
  docs/_build/html/contactus.html
  docs/_build/html/headerfooter.html
  docs/_build/html/home.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/_build/html/team.html
  docs/home.rst
  docs/images/homepage/aboutus.JPG
  docs/images/homepage/carousel.JPG
  docs/images/homepage/parallax.JPG
  docs/images/logo_for_boilerplate.png
  docs/index.rst
Labels: PR: unreviewed, documentation, gssoc20, hard

#662 Girlscript Boilerplate logo
  achievements.html
  announcements.html
  assets/Images/logo/1.png
  assets/Images/logo/Logo1.png
  assets/Images/logo/gs.png
  assets/Images/logo/gs1.png
  assets/Images/logo/gs_chennai_logo2.png
  assets/Images/logo/logo.png
  assets/Images/logo/logo_chennai.png
  assets/Images/logo/logo_chennai1.png
  assets/Images/logo/logo_for_boilerplate.png
  blogs.html
  contactUs.html
  css/style.css
  event1.html
  index.html
  recentEvent1.html
  registration.html
  team.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#665 Added google search console verified meta tag for sitemaps
  achievements.html
  announcements.html
  blogs.html
  index.html
  team.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#655 :refactor: validate => contact form
  contactUs.html
  scripts/contactUs.js
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#668 Logo bug
  assets/Images/logo/gs_chennai_logo1.png
  assets/Images/logo/gs_chennai_logo2.png
  css/style.css
  index.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium, ui/ux

#667 Home page completed
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/aboutus.JPG
  docs/_build/html/_images/aboutus.png
  docs/_build/html/_images/achievements.png
  docs/_build/html/_images/initiatives.png
  docs/_build/html/_images/trends.png
  docs/_build/html/_sources/home.rst.txt
  docs/_build/html/home.html
  docs/_build/html/searchindex.js
  docs/home.rst
  docs/images/homepage/aboutus.JPG
  docs/images/homepage/aboutus.png
  docs/images/homepage/achievements.png
  docs/images/homepage/initiatives.png
  docs/images/homepage/trends.png
Labels: PR: reviewed-approved, documentation, gssoc20, medium

#674 added the src to the image.
  index.html
Labels: PR: reviewed-approved

#669 Dark mode button
  assets/Images/dark_mode_switch/night.png
  assets/Images/dark_mode_switch/sunny.png
  css/style.css
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#676 Text animation Effect
  assets/Images/Front-img/event.jpg
  assets/Images/Front-img/event1.jpeg
  assets/Images/Front-img/event2.jpeg
  css/style.css
  index.html
  scripts/index.js
Labels: PR: partially-approved, enhancement, gssoc20, medium

#675 Lazy Loading team page images components
  scripts/lazy-load.js
  team.html
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#678 Vendors extrapages
  css/event1.css
  css/registrations.css
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#679 Bugs and minor changes
  achievements.html
  assets/Images/Front-img/event.jpg
  assets/Images/Front-img/event1.jpeg
  assets/Images/Front-img/event2.jpeg
  assets/Images/achievement/ach1.jpg
  assets/Images/achievement/ach1.png
  assets/Images/event/bg-2.png
  assets/Images/event/bg-3-resize.png
  assets/Images/event/bg-3.png
  assets/Images/event/event2.jpg
  assets/Images/logo/1.png
  assets/Images/logo/gs1.png
  assets/Images/logo/gslogo.png
  assets/Images/logo/logo_chennai.png
  assets/Images/logo/logo_chennai1.png
  assets/Images/logo/logo_for_boilerplate_1.png
  assets/Images/logo/logo_for_boilerplate_2.png
  assets/Images/team/default_member.png
  assets/Images/team/team.svg
  css/achievement.css
  css/event1.css
  css/style.css
  event1.html
  index.html
  recentEvent1.html
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#681 fix cards achievement
  achievements.html
  scripts/achievement.js
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#684 Homepage perf
  assets/Images/team/default_member.png
  css/style.css
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#683 HTML5 resources
  Getting_Started.MD
Labels: PR: unreviewed, beginner, gssoc20

#677 Documentation in Upcoming event and Minor changes in Home Pages
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/upcomingevent.JPG
  docs/_build/html/_sources/announcement.rst.txt
  docs/_build/html/_sources/home.rst.txt
  docs/_build/html/announcement.html
  docs/_build/html/home.html
  docs/_build/html/searchindex.js
  docs/announcement.rst
  docs/home.rst
  docs/images/announcementpage/upcomingevent.JPG
Labels: PR: unreviewed, documentation, gssoc20, medium

#693 Documentation of announcement page completed and the carousel part is changed on the home page
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/carousel.JPG
  docs/_build/html/_images/frontimg.PNG
  docs/_build/html/_images/recentevent.PNG
  docs/_build/html/_sources/announcement.rst.txt
  docs/_build/html/_sources/home.rst.txt
  docs/_build/html/announcement.html
  docs/_build/html/home.html
  docs/_build/html/searchindex.js
  docs/announcement.rst
  docs/home.rst
  docs/images/announcementpage/recentevent.PNG
  docs/images/homepage/carousel.JPG
  docs/images/homepage/frontimg.PNG
Labels: PR: unreviewed, documentation, gssoc20, medium

#686 Enhancement registration form
  css/registration.css
  css/registrations.css
  registrations.html
  scripts/registrations.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#694 added aos js.
  contactUs.html
  scripts/aos.js
Labels: PR: reviewed-approved, easy, gssoc20, medium

#687 :feat: added confetti => achievementsSection
  css/style.css
  index.html
  scripts/confetti.min.js
  scripts/sparkle.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#695 Update Bonus branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0002-Update-readme.md-and-separate-the-css.patch
  patch-files/profile_chrome_extension/0003-add-a-favicon.patch
Labels: PR: unreviewed, easy, gssoc20

#696 Caching Image on home page to cache storage of browsers
  index.html
  scripts/cacheImages.js
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#688 Box-shadow changed
  css/announcements.css
Labels: PR: unreviewed, beginner, bug, gssoc20

#698 optimised the images
  assets/Images/index/cs3.jpg
  assets/Images/index/robot1.jpg
  assets/Images/logo/Logo1.png
  assets/Images/logo/gs.png
  assets/Images/logo/logo.png
  assets/Images/logo/logo_for_boilerplate_1.png
Labels: PR: unreviewed, easy, enhancement, gssoc20

#697 code refactor
  css/registration.css
  event1.html
  registration.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#671 html validator errors fixed in achievements.html
  achievements.html
Labels: PR: reviewed-approved, enhancement, gssoc20

#702 Revert "optimised the images"
  assets/Images/index/cs3.jpg
  assets/Images/index/robot1.jpg
  assets/Images/logo/Logo1.png
  assets/Images/logo/gs.png
  assets/Images/logo/logo.png
  assets/Images/logo/logo_for_boilerplate_1.png
Labels: PR: unreviewed, deprecated

#701 :feat: minor Issue
  index.html
  scripts/app.js
Labels: PR: unreviewed, beginner, bug, gssoc20

#704 html validators fixed in announcements.html
  announcements.html
  blogs.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#703 html validators fixed in blogs.html
  announcements.html
Labels: PR: reviewed-approved, beginner, enhancement, gssoc20

#699 Text animation effect (Home page)
  css/style.css
  index.html
Labels: PR: unreviewed, bug, enhancement, gssoc20, medium

#712 Responsive animation and footer bug
  css/style.css
Labels: PR: unreviewed, bug, enhancement, gssoc20, medium

#682 alert message
  contactUs.html
  css/contact-page.css
  scripts/contactUs.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#711 html validators fixed in recentEvent1.html
  recentEvent1.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#706 :feat: => gZIP Compression
  .htaccess
Labels: PR: unreviewed, enhancement, gssoc20, medium

#705 HTML validators fixed in index.html
  index.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#713 TEAM PAGE COMPLETED
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/teamimage.JPG
  docs/_build/html/_sources/team.rst.txt
  docs/_build/html/searchindex.js
  docs/_build/html/team.html
  docs/images/teampage/teamimage.JPG
  docs/team.rst
Labels: PR: unreviewed, documentation, gssoc20, medium

#710 Html validation
  contactUs.html
  css/event1.css
  event1.html
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, hard

#725 Blog page completed and some major changes
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/achievements.png
  docs/_build/html/_images/blogimage.PNG
  docs/_build/html/_images/frontimg.PNG
  docs/_build/html/_sources/announcement.rst.txt
  docs/_build/html/_sources/blog.rst.txt
  docs/_build/html/_sources/home.rst.txt
  docs/_build/html/_sources/team.rst.txt
  docs/_build/html/announcement.html
  docs/_build/html/blog.html
  docs/_build/html/home.html
  docs/_build/html/searchindex.js
  docs/_build/html/team.html
  docs/announcement.rst
  docs/blog.rst
  docs/home.rst
  docs/images/blogpage/blogimage.PNG
  docs/images/homepage/achievements.png
  docs/images/homepage/frontimg.PNG
  docs/team.rst
Labels: PR: unreviewed, documentation, gssoc20, medium

#717 html validators fixed in registrations.html
  registrations.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#722 Updated Bonus branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0004-Modified-html-and-css.patch
Labels: PR: unreviewed, gssoc20, medium

#719 Small issues of unclosed script tags resulting in error
  index.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#726 Update bonus branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0005-Favicon-and-logo.patch
Labels: PR: unreviewed, gssoc20, medium

#718 :feat: *defer parsing* of confetti min.js (1)
  index.html
Labels: PR: reviewed-approved, easy, enhancement, gssoc20

#723 updates in blog page in mobile view
  css/blogs.css
Labels: PR: reviewed-approved, easy, enhancement, gssoc20

#727 :refactor: registration.js
  scripts/registration.js
  scripts/registrations.js
Labels: PR: unreviewed, enhancement, gssoc20, medium

#728 Update bonus branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0006-hover-alignment.patch
Labels: PR: unreviewed, enhancement, gssoc20, hard

#724 Cache Control
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  index.html
  registrations.html
  scripts/cacheImages.js
  team.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#734 added user-scalable in the metaTag.
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  event1.html
  index.html
  recentEvent1.html
  registrations.html
  team.html
Labels: PR: reviewed-approved, easy, enhancement, gssoc20

#731 Correction breaking changes
  index.html
  scripts/app.js
Labels: PR: unreviewed, easy, enhancement, gssoc20

#740 Revert ":refactor: registration.js"
  scripts/registration.js
  scripts/registrations.js
Labels: PR: unreviewed, deprecated

#739 :refactor: registration.html
  registrations.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#735 Added a new wave animation
  css/style.css
  scripts/app.js
Labels: PR: unreviewed

#733 Update readme.md
  README.MD
Labels: PR: unreviewed, beginner, documentation, gssoc20

#738 Activities conducted and minor changes
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/activities.JPG
  docs/_build/html/_sources/achievement.rst.txt
  docs/_build/html/achievement.html
  docs/_build/html/searchindex.js
  docs/achievement.rst
  docs/images/achievementpage/activities.JPG
Labels: PR: unreviewed, documentation, easy, gssoc20

#742 Dark mode Enhancement of footer
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#745 Bug in alignment
  README.MD
Labels: PR: unreviewed, bug, easy, gssoc20

#743 Contact page documentation and some changes
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/html/_images/Information.PNG
  docs/_build/html/_sources/contactus.rst.txt
  docs/_build/html/contactus.html
  docs/_build/html/searchindex.js
  docs/contactus.rst
  docs/images/contactuspage/Information.PNG
Labels: PR: unreviewed, documentation, gssoc20, medium

#749 Bug in blog page
  css/blogs.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#755 Update Bonus Branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0007-changes.patch
  patch-files/profile_chrome_extension/0008-Added-favicon.patch
Labels: PR: unreviewed, gssoc20, medium

#754 Achievement Page and changes in contactus
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/html/_images/projects.JPG
  docs/_build/html/_sources/achievement.rst.txt
  docs/_build/html/_sources/contactus.rst.txt
  docs/_build/html/achievement.html
  docs/_build/html/contactus.html
  docs/_build/html/searchindex.js
  docs/achievement.rst
  docs/contactus.rst
  docs/images/achievementpage/projects.JPG
Labels: PR: unreviewed, documentation, gssoc20, medium

#757 Update bonus branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0009-Modify-the-profile(1).patch
  patch-files/profile_chrome_extension/0010-Modify-the-profile(2).patch
Labels: PR: unreviewed, gssoc20, medium

#758 CONTACT PAGE COMPLETED and some minor changes
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/form.PNG
  docs/_build/html/_sources/contactus.rst.txt
  docs/_build/html/contactus.html
  docs/_build/html/searchindex.js
  docs/contactus.rst
  docs/images/contactuspage/form.PNG
Labels: PR: unreviewed, documentation, gssoc20, medium

#748 :refactor: registration.css
  css/registrations.css
  registrations.html
Labels: PR: unreviewed

#751 Added the customized loader for website
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  css/style.css
  index.html
  scripts/app.js
  team.html
Labels: PR: reviewed-approved, enhancement, gssoc20, hard

#753 In depth site mapping for website for advanced robots crawling
  announcements.html
  index.html
  scripts/app.js
  sitemap.xml
  team.html
Labels: PR: unreviewed, enhancement, gssoc20

#756 Revert the registrations.js
  scripts/registration.js
  scripts/registrations.js
Labels: PR: unreviewed, easy, enhancement, gssoc20

#760 optimised the aos.js
  scripts/aos.js
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#762 Bug blogs page
  blogs.html
  css/blogs.css
Labels: PR: reviewed-approved, easy, enhancement, gssoc20

#767 Update bonus branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0011-Update-links.patch
Labels: PR: unreviewed, gssoc20, medium

#769 Update bonus branch
  additional_projects.MD
  patch-files/profile_chrome_extension/0012-Enhancement-of-pages.patch
Labels: PR: unreviewed, easy, gssoc20

#768 Prettier config
  .prettierrc
  Code_of_Conduct.md
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  css/achievement.css
  css/announcements.css
  css/blogs.css
  css/contact-page.css
  css/event1.css
  css/formStyle.css
  css/registrations.css
  css/style.css
  css/team.css
  error page/page-not-found.html
  event1.html
  index.html
  recentEvent1.html
  scripts/achievement.js
  scripts/app.js
  scripts/cacheImages.js
  scripts/contactUs.js
  scripts/google-script-just-email.js
  scripts/lazy-load.js
  scripts/optimization.js
  scripts/projects.js
  scripts/registrations.js
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, hard

#771 Achievement Section Completed
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/achievements.JPG
  docs/_build/html/_sources/achievement.rst.txt
  docs/_build/html/_sources/contactus.rst.txt
  docs/_build/html/achievement.html
  docs/_build/html/contactus.html
  docs/_build/html/searchindex.js
  docs/achievement.rst
  docs/contactus.rst
  docs/home.rst
  docs/images/achievementpage/achievements.JPG
Labels: PR: unreviewed, documentation, gssoc20, medium

#766 Event1 page bug
  css/event1.css
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#773 Event page schedule documentation and some minor changes
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/codecamp.PNG
  docs/_build/html/_sources/achievement.rst.txt
  docs/_build/html/_sources/announcement.rst.txt
  docs/_build/html/_sources/event.rst.txt
  docs/_build/html/_sources/home.rst.txt
  docs/_build/html/achievement.html
  docs/_build/html/announcement.html
  docs/_build/html/event.html
  docs/_build/html/home.html
  docs/_build/html/searchindex.js
  docs/achievement.rst
  docs/announcement.rst
  docs/event.rst
  docs/images/eventpage/codecamp.PNG
Labels: PR: unreviewed, documentation, gssoc20, medium

#774 MD file created of all the resources to get started
  Getting_Started.MD
Labels: PR: unreviewed, beginner, documentation, gssoc20

#772 replaced if else statements in Contact us.js (1)
  scripts/contactUs.js
Labels: PR: reviewed-approved, bug, easy, enhancement, gssoc20

#747 Dynamic team cards injection
  scripts/team.js
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, hard

#765 :feat: *defer parsing* of achievements.js
  achievements.html
Labels: PR: unreviewed

#770 Navbar Bug fix for hamburger mode
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#777 Font Enhancement in Registration page
  css/registrations.css
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#778 Disable HTTP ETag header
  .htaccess
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#779 Dark mode enhancement (1)
  css/contact-page.css
  css/style.css
  index.html
  scripts/app.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#776 simplified footer form
  scripts/app.js
  scripts/registrations.js
Labels: PR: reviewed-changes-requested, beginner, bug, gssoc20

#781 Converting projects card to json and dynamic injection
  achievements.html
  scripts/achievement.js
  scripts/projects.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#780 Font Enhancement of Navbar and Footer
  css/style.css
Labels: PR: unreviewed, easy, gssoc20

#783 Bug fixes across pages
  achievements.html
  announcements.html
  blogs.html
  css/blogs.css
  css/style.css
  index.html
  team.html
Labels: PR: unreviewed, bug, enhancement, gssoc20, medium

#785 Update readme
  README.MD
Labels: PR: unreviewed, beginner, documentation, gssoc20

#782 Navbar changed
  assets/Images/logo/Logo1.png
  assets/Images/logo/Logo2.png
  css/contact-page.css
  css/style.css
  index.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#784 added base64 footer image
  scripts/app.js
  scripts/registrations.js
Labels: PR: reviewed-approved, easy, enhancement, gssoc20

#788 Converting Trends to JSON and injection
  index.html
  scripts/index.js
Labels: enhancement, gssoc20, hard

#792 Dark mode enhancement of announcement page and some minor changes in home page
  announcements.html
  css/announcements.css
  css/style.css
Labels: PR: unreviewed

#797 JSON objects for initiatives cards for injection
  index.html
  scripts/index.js
  scripts/svg.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#786 Event Page and changes in achievements page
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/about.JPG
  docs/_build/html/_images/schedule.JPG
  docs/_build/html/_sources/achievement.rst.txt
  docs/_build/html/_sources/event.rst.txt
  docs/_build/html/achievement.html
  docs/_build/html/event.html
  docs/_build/html/searchindex.js
  docs/achievement.rst
  docs/event.rst
  docs/images/eventpage/about.JPG
  docs/images/eventpage/schedule.JPG
Labels: PR: unreviewed, documentation, gssoc20, medium

#795 Dark mode enhancement of Achievement page
  css/achievement.css
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#798 added use strict mode in scripts.
  scripts/achievement.js
  scripts/app.js
  scripts/cacheImages.js
  scripts/contactUs.js
  scripts/index.js
  scripts/lazy-load.js
  scripts/optimization.js
  scripts/projects.js
  scripts/registrations.js
  scripts/team.js
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#791 [WIP] React: Initial Setup & Main Page
  src/.eslintrc
  src/.gitignore
  src/.prettierrc
  src/README.md
  src/components/DarkModeToggle/index.js
  src/components/Footer/index.js
  src/components/Layout/index.js
  src/components/NavLink/index.js
  src/components/Navbar/index.js
  src/package-lock.json
  src/package.json
  src/pages/_app.js
  src/pages/index.js
  src/public/assets/images/DarkModeToggle/night.png
  src/public/assets/images/DarkModeToggle/sunny.png
  src/public/assets/images/Logo/Navbar-Dark-Logo.png
  src/public/assets/images/Logo/Navbar-Light-Logo.png
  src/styles/global.css
  src/yarn.lock
Labels: enhancement, gssoc20, hard

#787 update dark mode button
  css/style.css
  scripts/app.js
Labels: PR: unreviewed, enhancement, gssoc20, medium

#801 Dynamic Initiatives Section Injection
  index.html
  scripts/index.js
Labels: PR: unreviewed, enhancement, gssoc20, medium

#800 Contact page (dark mode enhancement)
  assets/Images/contact/contact.jpg
  assets/Images/contact/contact.png
  css/contact-page.css
  css/style.css
  scripts/app.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#803 Dynamic insertion of recent Events from JSON
  announcements.html
  scripts/announcement.js
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#804 :React: Pages setup of the application
  src/.eslintrc
  src/components/Navbar/index.js
  src/pages/achievements/index.js
  src/pages/announcements/index.js
  src/pages/blogs/index.js
  src/pages/contact/index.js
  src/pages/team/index.js
  src/styles/global.css
Labels: PR: reviewed-approved

#805 Blog page (dark mode enhancement)
  css/announcements.css
  css/blogs.css
  css/style.css
  scripts/app.js
Labels: PR: reviewed-approved, easy, enhancement, gssoc20

#799 Event page completed and minor changes
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/faqs.PNG
  docs/_build/html/_images/register.PNG
  docs/_build/html/_sources/event.rst.txt
  docs/_build/html/event.html
  docs/_build/html/searchindex.js
  docs/event.rst
  docs/images/eventpage/faqs.PNG
  docs/images/eventpage/register.PNG
Labels: PR: unreviewed, documentation, gssoc20, medium

#802 Update bonus branch
  additional_projects.MD
  patch-files/doc_to_pen/0001-dark-mode.patch
  patch-files/doc_to_pen/0002-minor-changes.patch
Labels: PR: unreviewed, gssoc20, medium

#807 Converting Members Upto Card to JSON and injecting them
  achievements.html
  scripts/projects.js
Labels: PR: reviewed-approved, gssoc20, hard

#810 React : addd ES6 fat arrows
  src/components/DarkModeToggle/index.js
  src/components/Footer/index.js
  src/components/Layout/index.js
  src/components/NavLink/index.js
  src/components/Navbar/index.js
Labels: PR: unreviewed, easy, gssoc20

#808 Bug in both the navbar
  css/style.css
  scripts/app.js
  scripts/cacheImages.js
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#817 New Team Card component suited on both versions of applications
  css/team.css
  scripts/team.js
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, hard

#818 Footer documentation ( with toggle and top-up button) and some minor changes
  docs/_build/doctrees/contributors.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/html/_images/footer.PNG
  docs/_build/html/_sources/event.rst.txt
  docs/_build/html/_sources/headerfooter.rst.txt
  docs/_build/html/headerfooter.html
  docs/_build/html/searchindex.js
  docs/headerfooter.rst
  docs/images/headerfooter/footer.PNG
Labels: PR: unreviewed, documentation, gssoc20, medium

#806 React: Add Footer Component
  src/components/DarkModeToggle/index.js
  src/components/Footer/NewsletterForm.js
  src/components/Footer/SocialLinks.js
  src/components/Footer/WavesSvg.js
  src/components/Footer/index.js
  src/components/Layout/index.js
  src/components/NavLink/index.js
  src/components/Navbar/index.js
  src/pages/announcements/index.js
  src/public/assets/images/Logo/FooterLogo.png
  src/styles/global.css
Labels: PR: unreviewed, gssoc20

#814 Event page (dark mode enhancement)
  assets/Images/dark_mode_switch/night.png
  assets/Images/dark_mode_switch/sunny.png
  assets/Images/logo/Logo1.png
  css/event1.css
  css/style.css
Labels: PR: unreviewed

#819 improving the variable scoping
  scripts/achievement.js
  scripts/app.js
  scripts/confetti.min.js
  scripts/google-script-just-email.js
  scripts/registrations.js
Labels: PR: reviewed-approved, easy, enhancement, gssoc20

#816 Update bonus branch
  additional_projects.MD
  patch-files/doc_to_pen/0003-Added-the-svg-and-favicon.patch
  patch-files/doc_to_pen/0004-navbar-fixed.patch
Labels: PR: unreviewed, gssoc20, medium

#824 Registeration Page Complete and some changes
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/contributors.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_images/register1.JPG
  docs/_build/html/_images/register2.JPG
  docs/_build/html/_sources/register.rst.txt
  docs/_build/html/register.html
  docs/_build/html/searchindex.js
  docs/images/registerpage/register1.JPG
  docs/images/registerpage/register2.JPG
  docs/register.rst
Labels: PR: unreviewed, documentation, gssoc20, medium

#823 Dynamic countdown component injection from JSON
  achievements.html
  scripts/projects.js
Labels: PR: unreviewed, enhancement, gssoc20, medium

#820 New team page injection from new JSON and dynamic combinations of profiles
  scripts/team.js
  team.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#825 Registration page (dark mode) and some major changes
  achievements.html
  announcements.html
  contactUs.html
  css/registrations.css
  event1.html
  index.html
  registrations.html
  scripts/registrations.js
  team.html
Labels: PR: reviewed-approved, enhancement, gssoc20, medium

#821 :refactor: global css file to scss file
  src/package-lock.json
  src/package.json
  src/pages/_app.js
  src/styles/global.css
  src/styles/global.scss
Labels: PR: unreviewed

#829 Update Readme.md
  README.MD
Labels: PR: unreviewed, beginner, documentation, gssoc20

#828 Code of conduct, Contributing guidelines, License documentation and some minor changes
  docs/_build/doctrees/achievement.doctree
  docs/_build/doctrees/announcement.doctree
  docs/_build/doctrees/blog.doctree
  docs/_build/doctrees/contactus.doctree
  docs/_build/doctrees/contributors.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/event.doctree
  docs/_build/doctrees/headerfooter.doctree
  docs/_build/doctrees/home.doctree
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/register.doctree
  docs/_build/doctrees/team.doctree
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/index.html
  docs/_build/html/searchindex.js
  docs/index.rst
Labels: PR: unreviewed, documentation, gssoc20, medium

#827 Success confetti on registration
  css/registrations.css
  registrations.html
  scripts/confetti.min.js
  scripts/registrations.js
Labels: PR: unreviewed, enhancement, gssoc20, medium

#831 :feat: fallback message on registering the footer form using Hooks.
  src/components/Footer/NewsletterForm.js
Labels: PR: unreviewed
