Repository smaranjitghose/girlscript_chennai_website, pull requests merged in 2020-03, with the labels that each got.

#3 Updated Homepage
  assets/Images/gs.png
  assets/Images/gs_chennai_logo2.png
  css/style.css
  index.html
Labels: enhancement, gssoc20, medium

#12 Footer enhanced
  assets/Images/transparent_logo.png
  css/style.css
  index.html
Labels: gssoc20, medium

#15 Footer enhanced of Achievement page
  achievementData1.html
  achievements.html
Labels: gssoc20, medium

#13 Updated homepage
  css/style.css
  index.html
Labels: gssoc20, medium

#16 Parallax added and footer color enhanced
  css/style.css
  index.html
Labels: gssoc20, medium

#19 About new Sections
  css/style.css
  index.html
Labels: gssoc20, medium

#17 Improved Contact Us page
  achievements.html
  contactUs.html
  css/style.css
  index.html
Labels: gssoc20, medium

#24 Added Relevant Information
  assets/Images/inter.png
  assets/Images/opensource.png
  assets/Images/publics.png
  assets/Images/research.png
  css/style.css
  index.html
Labels: gssoc20, medium

#26 Sections edited
  css/style.css
  index.html
Labels: gssoc20, medium

#25 Contact us Page
  contactUs.html
  css/style.css
  index.html
Labels: gssoc20, medium

#29 Implementing mobile responsive interface
  css/style.css
  index.html
Labels: gssoc20, medium

#27 Announcement page
  announcements.html
  assets/Images/calendar.png
  assets/Images/calendar1.png
  assets/Images/dinner.png
  assets/Images/download.jpg
  assets/Images/eval.png
  assets/Images/event1.png
  assets/Images/event2.jpg
  assets/Images/event3.jpg
  assets/Images/event4.jpg
  assets/Images/hack.png
  assets/Images/inter.png.url
  assets/Images/opensource.png.url
  assets/Images/publics.png.url
  assets/Images/register.png
  assets/Images/register1.png
  assets/Images/research.png.url
  css/announcements.css
  css/event1.css
  css/style.css
  debug.log
  event1.html
Labels: gssoc20, medium

#32 Readme.md content added
  README.MD
  snapshots/Capture.JPG
  snapshots/Capture1.JPG
Labels: gssoc20, medium

#33 Achievement section restored
  css/style.css
  index.html
Labels: enhancement, gssoc20, medium

#38 Join Us Section
  assets/Images/ai.jpg
  assets/Images/ml.jpg
  assets/Images/program.jpg
  css/style.css
  index.html
Labels: gssoc20, medium

#40 Add link redirections
  contactUs.html
Labels: easy, good first issue, rgsoc20

#42 Worked on Responsiveness
  css/style.css
  index.html
Labels: gssoc20, hard

#54 Fixed a few issues in Achievement Page
  achievements.html
Labels: gssoc20, medium

#46 Created Github Actions
  .github/workflows/PRmessage.yml
  .github/workflows/greetings.yml
  .github/workflows/stale.yml
Labels: gssoc20, medium

#64 CSS validation on email and button hover effect bug fixed on newsletter
  css/style.css
  index.html
Labels: bug, gssoc20, medium

#53 Create Offensive language blocker action
  .github/workflows/mind-your-language.yml
Labels: gssoc20, hard

#57 Floating label
  contactUs.html
Labels: gssoc20, medium

#58 Added ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report_template.md
  .github/ISSUE_TEMPLATE/feature_request_template.md
  .github/ISSUE_TEMPLATE/pull_request_template.md
Labels: documentation, gssoc20, medium

#77 Responsiveness for all the sizes
  achievements.html
  css/style.css
Labels: bug, gssoc20

#85 Updated announcements.html
  announcements.html
Labels: gssoc20, medium

#84 Solved_bugs in the footer's border
  achievementData1.html
  contactUs.html
  css/style.css
  css/style1.css
Labels: bug, easy, enhancement, gssoc20

#81 Updated snapshots
  snapshots/Capture.JPG
  snapshots/Capture1.JPG
Labels: documentation, easy, gssoc20

#87 Added logo and side borders
  achievements.html
Labels: easy, gssoc20

#76 Events page
  achievements.html
  contactUs.html
  events/index.html
  events/style.css
  index.html
Labels: easy, gssoc20

#91 Fixed Error
  achievements.html
  css/style.css
Labels: gssoc20, medium

#67 Team Page Added
  achievements.html
  announcements.html
  assets/Images/team.svg
  assets/Images/user2.png
  contactUs.html
  css/team.css
  index.html
  team.html
Labels: enhancement, gssoc20, hard

#93 Updated Navbar
  achievements.html
  css/style.css
  index.html
Labels: bug, enhancement, gssoc20, hard

#94 Updated Achievements page
  achievements.html
  assets/Images/i.jpg
  css/style.css
  scripts/projects.js
Labels: gssoc20, hard

#97 Added SEO-optimized Intro to the homepage of the website
  index.html
Labels: easy, gssoc20

#100 Bug fix: Made initiatives section completely responsive
  css/style.css
  index.html
Labels: bug, enhancement, gssoc20

#102 adding gitignore file
  .gitignore
Labels: bug, gssoc20, medium

#105 Changes made in Achievements.html
  achievements.html
  assets/Images/i.jpg
  css/style.css
Labels: gssoc20, hard
