Repository smaranjitghose/girlscript_chennai_website, pull requests merged in 2020-04, with the labels that each got.

#110 Added social media links in the readme of this project
  README.MD
Labels: beginner, enhancement, gssoc20

#109 show back to top button when user acutually scrolled down
  index.html
Labels: gssoc20, medium

#117 changes made to announcements page
  announcements.html
  assets/Images/code.jpg
  assets/Images/event1.jpeg
  assets/Images/event2.jpeg
  assets/Images/event2.jpg
  assets/Images/event3.jpeg
  assets/Images/event4.jpg
  assets/Images/event6.jpg
  css/announcements.css
  css/event1.css
  event1.html
Labels: gssoc20, medium

#115 Fixed Readme link
  README.MD
Labels: bug, easy, gssoc20

#118 Updated blogs page
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  css/blogs.css
  index.html
  team.html
Labels: gssoc20, medium

#119 resolved footer error in announcements page
  announcements.html
Labels: bug, gssoc20, medium

#128 fixed btn view in mobile view
  css/style.css
Labels: beginner, bug, gssoc20

#125 fixed footer link
  index.html
Labels: bug, enhancement, gssoc20

#124 :bug: necessary required field in input else giving border
  achievements.html
Labels: beginner, enhancement, gssoc20

#130 fixed knowMore colliding
  css/style.css
Labels: bug, enhancement, gssoc20

#127 better UI/UX in this padding
  css/style.css
Labels: bug, enhancement, gssoc20

#132 fixed ContatUs fails on resizing
  css/announcements.css
Labels: beginner, bug, gssoc20

#134 fixed textSize in mobile view
  css/announcements.css
Labels: beginner, bug, gssoc20

#140 fixed register content going out of the box.
  event1.html
Labels: beginner, bug, gssoc20

#137 fixed about content going out of the box
  event1.html
Labels: beginner, bug, gssoc20

#142 fixed footer content going out
  event1.html
Labels: beginner, bug, gssoc20

#138 Carousel added
  assets/Images/2.jpg
  css/style.css
  index.html
Labels: enhancement, gssoc20, hard

#143 added bottom to up btn in event page
  event1.html
Labels: gssoc20, medium

#144 Feature/dynamic header footer
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  css/style.css
  index.html
  scripts/app.js
  team.html
Labels: bug, enhancement, gssoc20, hard

#161 Achievements.html and Team.html Updated
  achievements.html
  team.html
Labels: enhancement, gssoc20, hard

#152 GitHub actions
  .github/auto_assign.yml
  .github/workflows/assign.yml
  .github/workflows/label_merge_conflicts.yml
  .github/workflows/reviewdog.yml
Labels: gssoc20, hard

#149 fixed schedule content going out of the box
  css/event1.css
  event1.html
Labels: bug, gssoc20, medium

#151 fixed alignment of join btn
  css/style.css
Labels: bug, easy, gssoc20

#153 GitHub action 2
  .github/workflows/PRmessage.yml
  .github/workflows/pr-greet-message.yml
Labels: bug, gssoc20, hard

#157 check broken link
  .github/workflows/check-broken-link.yml
Labels: gssoc20, hard

#169 fixed show more btn on resizing.
  css/style.css
Labels: bug, easy, gssoc20

#172 modification in cotactus css
  contactUs.html
Labels: gssoc20, medium

#173 Added recent events screen
  achievementData1.html
  announcements.html
  recentEvent1.html
Labels: gssoc20, medium

#168 Added Github Action
  .github/workflows/auto_assign.yml
  .github/workflows/labeler.yml
Labels: gssoc20, hard

#171 added github action to auto label merge conflicts
  .github/workflows/auto-label-merge-conflicts.yml
Labels: gssoc20, hard

#176 added automatic revert github action
  .github/workflows/automatic-revert.yml
Labels: PR: unreviewed, easy, gssoc20

#164 fixed console error
  achievements.html
Labels: beginner, bug, gssoc20

#174 working on event1.html
  css/style.css
Labels: bug, enhancement, gssoc20

#150 added gitCret action
  .github/workflows/gitCret.yml
  actions/gitCret.md
Labels: gssoc20, hard

#160 added github action to automatically rebase a pr
  .github/workflows/rebase-a-pr.yml
Labels: gssoc20, hard

#175 Added action for weekly digest
  .github/auto_assign.yml
  .github/weekly-digest.yml
Labels: PR: unreviewed, bug, gssoc20, hard

#186 Improvement in Home Page 4, 5, 6
  index.html
Labels: PR: unreviewed, bug, enhancement, gssoc20, hard

#182 Carousel fix
  css/style.css
  index.html
  scripts/carousel.js
Labels: PR: unreviewed, bug, enhancement, gssoc20, medium

#154 add action forge publish
  .github/workflows/action-forge.yml
Labels: gssoc20, hard

#181 added autosquash commit github action
  .github/workflows/autosquash-commits.yml
Labels: PR: unreviewed, beginner, enhancement

#197 :up: logic updated
  scripts/app.js
Labels: PR: unreviewed, beginner, bug, gssoc20

#183 fixed content overlapping on resizing announcements.html page
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, bug, gssoc20, medium

#199 fixed navbar on resizing
  css/style.css
  scripts/app.js
Labels: PR: unreviewed

#198 Added queries for touch devices for flipping cards
  css/style.css
  index.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#179 added wip action
  .github/workflows/wip-actions.yml
Labels: PR: unreviewed, gssoc20, hard

#207 191-teampage
  css/team.css
  team.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#206 Removed unused code.
  blogs.html
  blogs1.html
  css/blogs1.css
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#205 fixed bugs in achievements page
  achievements.html
  css/style.css
Labels: PR: unreviewed, easy, enhancement, gssoc20

#200 Feature/code refactor achievement
  achievements.html
  contactUs.html
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#208 added html validator github action
  .github/workflows/html-validator.yml
Labels: PR: unreviewed, gssoc20, hard

#211 Blogs.html Updated - A new section added
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, gssoc20, hard

#212 :up: team page code refactor and changes
  css/style.css
  css/team.css
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#209 :up: code refactor index
  achievements.html
  css/style.css
  index.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#216 Improve README.md
  README.MD
Labels: PR: unreviewed, documentation, easy, gssoc20

#217 Medium blog integrated
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#215 fixed bugs on event1 page
  css/event1.css
  event1.html
Labels: PR: unreviewed, gssoc20, medium

#219 Announcements Page Updated
  announcements.html
  announcements1.html
  css/announcements.css
  css/announcements1.css
Labels: PR: reviewed-changes-requested, enhancement, gssoc20, hard

#214 Fixed bug on team page and made it consistent with other pages
  css/team.css
  team.html
Labels: PR: unreviewed, bug, enhancement, gssoc20, medium

#220 Changes made in Announcements Page
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#222 Solved issue #221
  contactUs.html
  css/contact-page.css
Labels: PR: unreviewed, bug, easy, gssoc20

#223 Footer Fixed
  announcements.html
  css/announcements.css
  css/style.css
  scripts/app.js
Labels: PR: unreviewed, bug, gssoc20, hard

#224 Blogs.html made responsive and CSS improved
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, bug, enhancement, gssoc20, hard

#225 Add more styling to index.html + anchor default color fixed
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#228 Announcements Page made responsive
  announcements.html
  css/announcements.css
Labels: PR: unreviewed

#226 removed unused code and added the link
  announcements.html
  announcements1.html
  css/announcements1.css
Labels: PR: unreviewed, beginner, bug, gssoc20

#234 Added form validation on each field
  contactUs.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#236 Team Page fixed
  css/team.css
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, hard

#227 Slider on home page
  css/style.css
  index.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#239 Form validation and css correction
  css/style.css
  scripts/app.js
Labels: PR: unreviewed, gssoc20, medium

#240 Blog page header design
  assets/Images/blogging.png
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, gssoc20, medium

#238 Bug fix: Consistency in the blogs page
  blogs.html
  css/blogs.css
Labels: PR: unreviewed

#243 Blog cards color restored
  css/blogs.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#231 fixed bugs on teamPage
  css/team.css
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#246 Improved documentation
  README.MD
Labels: PR: unreviewed, documentation, easy, gssoc20

#230 Add particle effect in the parallax section (on home page)
  assets/particle.json
  css/style.css
  index.html
  lib/particle.js
  scripts/particle-js-effect.js
Labels: PR: unreviewed, gssoc20, hard

#229 changes to home page
  assets/Images/2.jpg
  assets/Images/slider_image.jpg
  css/style.css
  index.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#249 Update team.html
  team.html
Labels: PR: unreviewed, bug, easy, gssoc20

#250 Upcoming events, classnames and css changes
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#251 announcement-inspect
  announcements.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#252 Added Board Members
  assets/Images/board1.png
  assets/Images/board2.jpg
  assets/Images/board3.jpg
  assets/Images/board4.png
  assets/Images/board5.jpg
  team.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#247 Modularize the project
  Docs/.gitignore
  Docs/CONTRIBUTING.md
  Docs/LICENSE
  Docs/README.MD
  Web Pages/achievements.html
  Web Pages/announcements.html
  Web Pages/blogs.html
  Web Pages/contactUs.html
  Web Pages/event1.html
  Web Pages/index.html
  Web Pages/recentEvent1.html
  Web Pages/team.html
  scripts/app.js
  snapshots/Capture.JPG
  snapshots/Capture1.JPG
Labels: PR: unreviewed, gssoc20, hard

#255 Improving board section css
  team.html
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#257 Contact Us Page
  contactUs.html
  css/contact-page.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#260 added hover effect
  css/style.css
  index.html
Labels: PR: unreviewed, gssoc20, medium

#264 recent-event css
  css/announcements.css
Labels: PR: unreviewed, easy, enhancement, gssoc20

#265 added responsive announcementCard.
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#235 Card improvements
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#269 Content added
  announcements.html
Labels: PR: unreviewed, documentation, easy, gssoc20

#266 improvement in blogs page
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, bug, enhancement, gssoc20, hard

#271 267-button
  announcements.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#272 blog-extraspace
  css/blogs.css
Labels: PR: unreviewed, bug, easy, gssoc20

#273 team-button-spacing
  team.html
Labels: PR: unreviewed, bug, easy, gssoc20

#276 Update README.MD
  README.MD
Labels: PR: unreviewed, beginner, gssoc20

#275 Fixed the spacing and alignment in Achievements Page
  achievements.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#279 Footer corrected
  css/style.css
  event1.html
  recentEvent1.html
  scripts/app.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#280 fixed hover colliding team members due to mt-lg-0 class
  team.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#278 blog page enhancements.
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, bug, easy, gssoc20

#281 Revert "blog page enhancements."
  blogs.html
  css/blogs.css
Labels: PR: unreviewed

#282 Cards Updated on the Achievements Page
  achievements.html
  css/achievement.css
  scripts/achievement.js
Labels: PR: unreviewed, enhancement, gssoc20, hard

#284 Achievements Page
  achievements.html
  css/achievement.css
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#283 added support for js incompatible devices
  index.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#292 Add error 404 screen
  error page/image.jpg
  error page/page-not-found.html
  error page/style.css
Labels: PR: unreviewed

#295 fixed unresponsiveness of image
  css/event1.css
  event1.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#296 captcha added sumit button improved
  .vs/VSWorkspaceState.json
  .vs/girlscript_chennai_website/v16/.suo
  .vs/slnx.sqlite
  assets/Images/Contactus.jpg
  contactUs.html
  css/contact-page.css
Labels: PR: unreviewed, easy, enhancement, gssoc20

#298 Added card hover effects in achievement page
  achievements.html
  css/achievement.css
Labels: enhancement, gssoc20, medium

#297 Fixed error in card hover effects
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, easy, gssoc20

#294 Fixed UI bugs, Added Codacy badge for Code quality, proposed some UI changes.
  README.MD
  achievements.html
  announcements.html
  contactUs.html
  css/achievement.css
  css/announcements.css
  css/contact-page.css
  css/style.css
  index.html
  scripts/app.js
  team.html
Labels: PR: unreviewed, enhancement, gssoc20, medium

#289 Medium Blogs integrated
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, easy, enhancement, gssoc20

#310 Minor error - build fail correction
  css/achievement.css
  css/contact-page.css
Labels: PR: unreviewed, beginner, bug, gssoc20

#311 fixed the footer
  scripts/app.js
Labels: PR: unreviewed

#305 change the style of button
  css/announcements.css
  css/blogs.css
  css/contact-page.css
  css/style.css
  css/team.css
  team.html
Labels: PR: unreviewed, gssoc20

#313 Changes
  announcements.html
  team.html
Labels: PR: unreviewed

#317 fixed error in contact and achievements
  achievements.html
  contactUs.html
Labels: PR: unreviewed

#318 Changes in contact us
  contactUs.html
Labels: PR: unreviewed

#316 css focus bug
  achievements.html
  announcements.html
  blogs.html
  contactUs.html
  event1.html
  index.html
  recentEvent1.html
  team.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#319 Button change
  blogs.html
  css/blogs.css
Labels: PR: unreviewed, bug, easy, gssoc20

#320 added scroll reveal effect in the home page.
  index.html
  lib/scrollReveal.js
Labels: PR: unreviewed, gssoc20, medium

#306 :star: Improvment in achievement page
  achievements.html
  css/achievement.css
  scripts/achievement.js
Labels: PR: unreviewed, bug, easy, gssoc20

#323 Team Page
  team.html
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#321 Home Page Enhancement
  css/style.css
  index.html
Labels: PR: unreviewed, easy, enhancement, gssoc20

#326 Fixed error in card hover
  announcements.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#328 Responsive footer
  css/style.css
Labels: PR: unreviewed, gssoc20, medium

#327 Added label Workflow
  .github/labeler.yml
  .github/workflows/label.yml
Labels: PR: unreviewed, beginner, enhancement, gssoc20

#332 made footer responsive
  css/style.css
Labels: PR: unreviewed, bug, easy, gssoc20

#330 Fixed error of card hover
  achievements.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#336 Fix issue #324
  achievements.html
  team.html
Labels: PR: unreviewed, bug, easy, gssoc20

#337 changes in navbar
  css/style.css
Labels: PR: unreviewed, beginner, bug, gssoc20

#340 navbar-bug
  scripts/app.js
Labels: PR: unreviewed, beginner, bug, gssoc20

#341 improved code quality
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#333 Modified Contact page
  assets/Images/contact.jpg
  contactUs.html
  css/contact-page.css
Labels: PR: unreviewed, gssoc20, hard

#343 Responsive contact page
  contactUs.html
  css/contact-page.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#349 Responsive navbar
  css/announcements.css
  css/blogs.css
  css/contact-page.css
  css/style.css
  css/team.css
  recentEvent1.html
Labels: PR: unreviewed, bug, gssoc20, medium

#344 removed code
  css/style.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#359 Improved Contact Us Page
  contactUs.html
  css/contact-page.css
Labels: PR: unreviewed, enhancement, gssoc20, medium

#368 added other meta tags to index.html file
  index.html
Labels: PR: unreviewed, gssoc20, medium

#367 Home initiative
  achievements.html
  index.html
Labels: PR: unreviewed, beginner, bug, gssoc20

#366 Content added
  achievements.html
Labels: PR: unreviewed

#365 Text alignment
  css/team.css
Labels: PR: unreviewed, beginner, bug, gssoc20

#362 Making Announcement Page Responsive #303
  achievements.html
  announcements.html
  contactUs.html
  css/announcements.css
  css/contact-page.css
Labels: PR: unreviewed, bug, gssoc20, hard

#358 Announcements Page
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, easy, gssoc20

#371 Revert "Making Announcement Page Responsive #303"
  achievements.html
  announcements.html
  contactUs.html
  css/announcements.css
  css/contact-page.css
Labels: PR: unreviewed, bug, gssoc20

#369 This is a Code of Conduct file
  Code_of_Conduct.md
Labels: PR: reviewed-changes-requested, documentation, easy, gssoc20

#361 Responsive Team page
  css/team.css
Labels: PR: unreviewed, bug, easy, gssoc20

#372 Card alignment and their length
  css/achievement.css
Labels: PR: unreviewed, bug, easy, gssoc20

#350 added darkMode.
  assets/Images/inter.png
  assets/Images/logo.png
  assets/Images/opensource.png
  assets/Images/publics.png
  assets/Images/research.png
  css/style.css
  index.html
  scripts/app.js
Labels: PR: reviewed-approved, enhancement, good first issue, gssoc20, hard

#376 Responsive page
  css/blogs.css
  css/style.css
Labels: PR: unreviewed, beginner, gssoc20

#377 darkMode-feat(team).
  css/team.css
  team.html
Labels: PR: reviewed-approved, enhancement, hard

#378 Responsive announcement page
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#374 darkMode-announcementPage
  announcements.html
  css/announcements.css
Labels: PR: unreviewed, enhancement, gssoc20, hard

#382 :bug: minor issue in contact us page
  contactUs.html
Labels: PR: reviewed-approved, beginner, bug, gssoc20
